<p id="notice"><%= notice %></p>

<div class='text-center'>
  <h1 class='text-center'>
    <%= @project.title %>
  </h1>

  <div class="album py-5 bg-light">
    <div class="container-md">
      <p>
        <%= @project.description %>
      </p>
    </div>
  </div>

  <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %> 
  <%= link_to 'Back', projects_path, class: "btn btn-primary" %>
</div>
